.Rproj.user
.Rhistory
.RData
.Ruserdata
*.DS_Store
/.quarto/
_freeze/
*_files/
docs/
cache/
paper/
Plots/
libdr/libdr.Rproj
Temp/
*.zip
*_cache
source/Covariate exploration/covariates.html
source/Covariate exploration/Model-comparison.html
